.env
.agents/
/vendor/
/storage/logs/*.log
/storage/cache/*
/storage/private_uploads/*
/storage/updates/*
!/storage/cache/.gitkeep
!/storage/logs/.gitkeep
!/storage/private_uploads/.gitkeep
!/storage/updates/.gitkeep
